<h1> Product Details </h1>
<table>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Jersey: </td> <td> <%= onerec.jersey %> </td> </tr>
<tr> <td> Scarf </td> <td> <%= onerec.scarf %> </td> </tr>
<tr> <td> Hat </td> <td> <%= onerec.hat %> </td> </tr>
<tr> <td> Bobblehead </td> <td> <%= onerec.bobblehead %> </td> </tr>
<tr> <td> Posters </td> <td> <%= onerec.posters %> </td> </tr>
</table>