<h1> Edit</h1>
<form action="/Review/save" method="post">
    <input type="hidden" name="review_id" value="<%= onerec.review_id %>" >
<table>
    <tr> <td> Review ID: </td> <td> <input type="number" name="review_id" value="<%= onerec.review_id %>" required> </td> </tr>
    <tr> <td> Product ID: </td> <td> <input type="number" name="product_id" value="<%= onerec.product_id %>" required> </td> </tr>
    <tr> <td> Customer ID: </td> <td> <input type="number" name="cusomer_id" value="<%= onerec.customer_id %>" required> </td> </tr>
    <tr> <td> Submit Date: </td> <td> <input type="date" name="submitdate" value="<%= onerec.submitdate %>" required> </td> </tr>
    <tr> <td> Description: </td> <td> <input type="text" name="description" value="<%= onerec.description %>" required> </td> </tr>
    <tr> <td> Rating: </td> <td> <input type="number" name="rating" value="<%= onerec.rating %>" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>

<tr> <td> Rating: </td>
    <td>
    <% if (rec.rating == 1) { %>
    <input type="radio" name="rating" value="1" checked="true">★ <br/>
    <% } else { %>
    <input type="radio" name="rating" value="1">★ <br/>
    <% }%>
    <% if (rec.rating == 2) { %>
    <input type="radio" name="rating" value="2" checked="true">★★<br/>
    <% } else { %>
    <input type="radio" name="rating" value="2">★★<br/>
    <% }%>
    <% if (rec.rating == 3) { %>
    <input type="radio" name="rating" value="3" checked="true">★★★<br/>
    <% } else { %>
    <input type="radio" name="rating" value="3">★★★<br/>
    <% }%>
    <% if (rec.rating == 4) { %>
    <input type="radio" name="rating" value="4" checked="true">★★★★<br/>
    <% } else { %>
    <input type="radio" name="rating" value="4">★★★★<br/>
    <% }%>
    <% if (rec.rating == 5) { %>
    <input type="radio" name="rating" value="5" checked="true">★★★★★<br/>
    <% } else { %>
    <input type="radio" name="rating" value="5">★★★★★<br/>
    <% }%>
    </td>
    </tr>