<h1> Order Review </h1>
<table>
<tr> <td> Review ID: </td> <td> <%= onerec.review_id %> </td> </tr>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Customer ID </td> <td> <%= onerec.cusomer_id %> </td> </tr>
<tr> <td> Submit Date </td> <td> <%= onerec.submitdate %> </td> </tr>
<tr> <td> Description </td> <td> <%= onerec.description %> </td> </tr>
<tr> <td> Ratinb </td> <td> <%= onerec.rating %> </td> </tr>
</table>