<h2>Customer Listing</h2>
<% if (allrecs.length > 0) {%>
    <table border="1">
        <tr>
            <th>CustomerID %></th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Rewards Number %></th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
        </tr>
    <% allrecs.forEach((recref, index) => { %>
        <tr>
        <td><%= recref.customer_id %></td>
        <td><%= recref.firstname %></td>
        <td><%= recref.lastname %></td>
        <td><%= recref.phone %></td>
        <td><%= recref.rewardsNum %></td>
        <td><%= recref.street %></td>
        <td><%= recref.city %></td>
        <td><%= recref.state %></td>
        <td><%= recref.zipcode %></td>

        </tr>
    <% }); %>
    </table>
    <% } else { %>
            <p>Not Records Available</p>
    <% } %>

