<h2>Product Listing</h2>
<% if (allrecs.length > 0) {%>
    <table border="1">
        <tr> 
            <th>Product ID %></th>
            <th>Jersey</th>
            <th>Scarf</th>
            <th>Hat</th>
            <th>Bobblehead</th>
            <th>Posters</th>
            <th>Homepage</th>
        </tr>
    <% allrecs.forEach((recref, index) => { %>
        <tr>
        <td><%= recref.product_id %></td>
        <td><%= recref.jersey %></td>
        <td><%= recref.scarf %></td>
        <td><%= recref.hat %></td>
        <td><%= recref.bobblehead %></td>
        <td><%= recref.posters %></td>
        <td><%= recref.Homepage %></td>
        </tr>
    <% }); %>
    </table>
    <% } else { %>
            <p>Not Records Available</p>
    <% } %>
