<h1> Checkout Details </h1>
<table>
<tr> <td> Sale ID: </td> <td> <%= onerec.sale_id %> </td> </tr>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Customer ID: </td> <td> <%= onerec.cusomer_id %> </td> </tr>
<tr> <td> First Name: </td> <td> <%= onerec.firstname %> </td> </tr>
<tr> <td> Last Name: </td> <td> <%= onerec.lastname %> </td> </tr>
<tr> <td> Email: </td> <td> <%= onerec.email %> </td> </tr>
<tr> <td>Sale Price: </td> <td> <%= onerec.salePrice %> </td> </tr>
<tr> <td> Delivery Fee: </td> <td> <%= onerec.deliveryFee %> </td> </tr>
<tr> <td> Delivery Date: </td> <td> <%= onerec.deliveryDate %> </td> </tr>
</table>