<h1> Customer Details </h1>
<table>
<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
<tr> <td> First Name: </td> <td> <%= onerec.firstname %> </td> </tr>
<tr> <td> Last Name </td> <td> <%= onerec.lastname %> </td> </tr>
<tr> <td> Phone </td> <td> <%= onerec.phone %> </td> </tr>
<tr> <td> Rewards Number: </td> <td> <%= onerec.rewardsNum %> </td> </tr>
<tr> <td> Street </td> <td> <%= onerec.street %> </td> </tr>
<tr> <td> City </td> <td> <%= onerec.city %> </td> </tr>
<tr> <td> State </td> <td> <%= onerec.state %> </td> </tr>
<tr> <td> Zip Code: </td> <td> <%= onerec.zipcode %> </td> </tr>
</table>